@charset "UTF-8";
#profile{
		border-radius: 5px;
		margin-top: 10px;
		width: 150px;
		height: 200px;
	}
	.mypage-wrap{
		width: 60%;
		margin: auto;
	}
	.mypage-left{
		width: 20%;
		margin: 0 30px;
	}
	.mypage-right{
		width: 70%;
		margin-top: 30px;
		margin-left: 20px;
	}
	.mypage-body-wrap{
		margin-top: 60px;
		display:flex;
		margin-bottom: 100px;
	}
	
	.medal{
		padding-top: 5px;
	}
	ul{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: black;
	}
	#info-table tr th{
	    font-weight: normal;
	    text-align: left;
	    color: #666;
		width:10%;
		font-weight: 900;
		background: #f5f5f5;
		border-bottom: 1px solid #d9d9d9;
		margin: 0px;
		height: 48px;
		padding-left: 5px;
	}
	#info-table tr td{
		width:90%;
		padding: 12px 10px;
	    border-bottom: 1px solid #d9d9d9;
	    height: 48px;
		margin: 0px;
	}
	#addr-table tbody tr th{
	font-weight: normal;
	    text-align: left;
	    color: #666;
		width:15%;
		font-weight: 900;
		background: #f5f5f5;
		 border-bottom: 1px solid #d9d9d9;
		margin: 0px;
		height: 48px; 
		padding-left: 5px;
	}
	#addr-table tbody tr td{
		width:85%;
		padding: 12px 10px;
	    border-bottom: 1px solid #d9d9d9;
	    height: 48px;
		margin: 0px;
	}
	tfoot tr td {
		text-align: center;
	}
	input[type="text"]{
		width:200px;
		height: 32px;
		padding-left: 5px;
		border-radius: 5px;
		border: 1px solid black;
	}
	.myInfoFlex form input[type="button"]:nth-of-type(2){
		margin-left: 10px;
	}
	.myInfoFlex form{
		display: flex;
		width: 210px;
		margin:auto;
	}
	.btn{
		background: #ff7b30;
		color: white;
		font-weight: 500;
		width: 100px;
		height: 35px;
		margin-top: 5px;
		font-size: 13px;
		border-radius: 2px;
	}
	#profile-section{
		border: 1px solid #ff7b30;
		text-align:center;
		height: 285px;  
		background-color: #F0F8FF;
	}
	#myMenu{
		height: 50px;
		text-align: center;
		color: white;
		background: #ff7b30;
		line-height:40px;
	}
	#grade{
		display: flex;
		margin-bottom:5px;
	}
	#grade div:first-child{
		position: relative;
		left: 80px;
	}
	#grade div:last-child{
		position: relative;
		top: 5px;
		left: 85px;
	}
	h3{
		margin-top: 150px;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 20px;
	}
	.mGrade-info>div{
		border-top: 1px solid #D3D3D3;
		display:flex;
		padding-top: 3px;
	}
	.mGrade-info>div>div{
		margin-left: 50px;
		margin-bottom: 10px;
	}
	.mGrade-info>div>div:first-of-type{
		margin-top: 30px;
	}
	.mGrade-info>div>div ul li:nth-of-type(1){
		font-size: 15px;
	}
	.mGrade-info>div>div ul li:nth-of-type(3){
		font-size: 15px;
	}
	.mGrade-info>div>div ul li:nth-of-type(2){
		color: #ff7b30;
		font-weight: 900;
		font-size: 25px;
		margin-bottom: 10px;
	}
	.mGrade-info>div>div ul li:nth-of-type(4){
		font-weight: 700;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.mGrade-info>div>div:last-of-type{
		width: 400px;
	}
	.mGrade-info div:first-of-type .fa-medal{
		color:#A0522D;
	}
	.mGrade-info div:nth-of-type(2) .fa-medal{
		color:#C0C0C0;
	}
	.mGrade-info div:last-of-type .fa-medal{
		color:#DAA520;
	}
	.menu-section{
		padding-top:10px;
		background: #fbfafa;
	}
	.bold{
		font-weight: 900;
	}
	.menu-section ul li{
		height: 32px;
		margin-left:10px;
	}
	.menu-section ul li a{
		color: black;
	}
	#addr, #addrDetail{
		margin-top: 5px;
		width: 100%;
	}
	.sub-title{
		background: #f5f5f5; 
		height: 50px;
		font-size: 30px;
		width: 100%;
		padding-left:10px;
		line-height: 50px;
	}
	.info-list ul li{
		width: 33.3%;
		height: 90px;
		display: block;
		float:left;
		padding: 24px;
	    border-left: 1px solid #d9d9d9;
	    border-bottom: 1px solid #d9d9d9;
		border-collapse: collapse;
	}
	.info-list ul li::after { content: ''; dispaly: table; clear: both }

	.info-list ul li:last-child{
		border-right: 1px solid #d9d9d9;
	}
	.info-list ul li label{
		font-size: 15px;
		font-weight: 900;
	} 
	.info-list ul li a{
		font-size: 30px;
		color: #FBB42F;
	}
	#orders-table{
		width: 100%
	}
	#orders-table thead tr th{
		font-weight: normal;
	    color: #666;
		font-weight: 900;
		background: #f5f5f5;
		border-bottom: 1px solid #d9d9d9;
		height: 30px;
		padding-top: 5px;
	}
	#orders-table tbody tr td{
		padding: 12px 10px;
	    border-bottom: 1px solid #d9d9d9;
	    height: 48px;
		margin: 0px;
	}
	#orders-table tbody tr td input[type="button"]{
		margin-left: 5px;
		margin-top: 5px;
	}
	.paging{
		margin: auto;
	}
	.review-img{
		width: 250px;
		height: 250px;
		border-radius: 20px;
		margin-top: 15px;
	}
	.review{
		width: 590px;
		height: 450px;
		display: none;
		margin-top: 50px;
		background: #FFFFF0;
		border: 1px solid black;
		border-radius: 10px;
	}
	.review-left{
		float: left;
		width: 50%;
		padding-left: 30px;
		padding-top: 20px;
		
	}
	.review-right{
		float: left;
		width: 50%;
		padding-left: 10px;
	}
	.review p{
		font-size: 20px;
		font-weight: 900;
	}
	
	.review-right p{
		display: block;
		width: 200px;
		padding-top: 20px;
		margin-left: 75px;
	}
	.review-right a{
		float: right;
		background: #FFFFF0;
	}
	.close{
		margin-top: 8px; 
		margin-right: 10px;
	}
	.review-right > .star a:first-child{
		margin-right: 35px;
	}
	
	.btns input[type="button"]{
		background: #ff7b30;
		color: white;
		font-weight: 500;
		width: 100px;
		height: 35px;
		border-radius: 10px;
		margin: 40px 0 0 80px;
	}
	#upload-img{
		height: 280px;
	}
	#orderList tr td input[type="button"]{
		background: #ff7b30;
		color: white;
		font-weight: 500;
		font-size: 13px;
		width: 80px;
		height: 30px;
		border-radius: 2px;
	}
	.review-left p:nth-of-type(2){
		margin-top: 5px;
	}
	.review-left input[type="text"], textarea{
		margin-top: 10px;
		border: 1px solid black;
		width: 229px;
		border-radius: 5px;
	}
	
	.starR{
	  background: #EDF3E2;
	}
	.starR.on{background-position:0 0;}
	#reviewList{
		display: flex;
		flex-wrap: wrap;
	}
	.r-form{
		display: flex;
		background: #f8f9fb;
		border: 1px solid #ff7b30;
		width: 48%;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	.r-form:nth-of-type(2), .r-form:nth-of-type(4){
		margin-left: 20px;
	}
	 
	 .r-right{
	 	width: 60%;
	 }
	  .r-right > p{
	  	width: 100%;
	  	padding-top: 5px;
	  	margin-left: 10px;
	  	/* 글자가 넓이보다 길 경우 ...처리 */
	  	text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
	  }
	  .r-right > pre{
	  	height: 120px;
	  	margin-left: 15px;
	  	padding: 10px;
	  	white-space: normal;
	  	border-top: 1px solid #DCDCDC;
	  	border-bottom: 1px solid #DCDCDC;
	  	border-radius: 10px;
	  }
	  .r-right > p:nth-of-type(1){
	  	font-weight: 900;
	  }
	  .r-right > p:nth-of-type(2){
	  	margin-bottom:5px;
	  }
	  .r-right > p:nth-of-type(3){
	  	position: relative;
	  	top: 8px;
	  	left: 5px;
	  }
	.reviewList-img{
		width: 100%;
		height: 225px;
	}
	.r-left{
	 	width: 40%;
	 	height: 225px;
	 	padding: 0px;
	 }
	h1{
		font-weight: 900;
		font-size: 30px;
		margin-bottom: 30px;
	}
	.fa-star{
		color:#FFD700;
	}
	.preview-artist-home{
		display: flex;
	}
	.preview-artist-banner{
		width: 80%;
		height: 150px;
	}
	.preview-artist-banner img{
		width: 100%;
		height: 150px;
	}
	.preview-artist-profile{
		width: 20%;
		border: 1px solid #d9d9d9;
	}
	.preview-artist-img img{
		margin:15px 40px 0 40px;
		display: block;
		width: 50%;
		height: 75px;
		border-radius: 50px;
	}
	.preview-artist-profile p{
		font-size: 10px;
		display: block;
		overflow: hidden;
		white-space: normal;
		text-overflow: ellipsis;
		margin-top: 5px;
	}
	.preview-artist-name{
		margin-left:40px;
		margin-right:40px;
		width: 68px;
		text-align: center;
		font-size: 12px;
		font-weight: 800;
	}
	.preview-artist-comment{
		margin-left:10px;
		margin-right:10px;
		width: 119px;
		height: 100px;
	}
	#artist-form{
		margin: 0 0 0  200px;
		width: 500px;
	}
	#artist-form table tbody tr:nth-of-type(2) th {
		vertical-align: middle !important; 
	}
	#artist-form table tbody tr td{
		text-align: center;
		width: 300px;
	}
	#artist-form table tbody tr td input[type="file"]{
		width: 250px;
		padding-left: 20px;
		
	}
	#artist-form table tfoot tr td input[type="button"]{
		padding: 10px 15px;
		margin-top: 10px;
		background: #ff7b30;
		color: white;
	}
	
	#artist-form table tbody tr td{
		border-bottom: 1px solid #d9d9d9;
		padding: 10px 0;
	}
	#artist-form table tbody tr th{
		border-bottom: 1px solid #d9d9d9;
		background: #f5f5f5;
	}
	caption{
		font-size: 20px;
		font-weight: 900;
	}
	
	
	
	
	
	