@charset "UTF-8";
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}
div {
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td {
	border: 1px solid black;
	padding: 10px;
}
.wrap {
	width: 800px;
	margin: auto;
	text-align: center;
}
.btn-wrap {
	width: 600px;
	margin: auto;
	display: flex;
}
.btn {
	width: 295px;
	height: 295px;
	line-height: 250px;
	background: green;
	border-radius: 10px;
	margin: 30px;
	padding: 10px;
}
.btn > a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 50px;
}

